  <span id="status"></span>
  
  <div id="header">
    <a href="#" style="flex: 0 0 auto; width: 44px; display: block; height: 44px; background: url(img/Menu.svg) no-repeat center center/16px;"></a>
    <div style="flex: 1 1 auto; padding-top: 10px;">{{pageTitle}}</div>
    <a href="add-expense.php" style="flex: 0 0 auto; width: 44px; display: block; height: 44px; background: url(img/Plus.svg) no-repeat center center/16px;"></a>
  </div>